.s150{
    font-size: 150%;
}

main.row {
    max-width: max-content;
}

.label {
    font-weight: bold;
}

header img {
    height: 2em;
}

i.fi-eye{
    color: #696814;
}
i.fi-pencil {
    color: #2c83b6;
}
i.fi-x{
    color: #c24246;
}
i.fi-alert{
    color: #c60f13;
    text-shadow: 0 0 .1em #fff,
        0 0 .2em #fff,
        0 0 .3em #fff,
        0 0 .4em #fff,
        0 0 .5em #e30,
        0 0 .6em #e30,
        0 0 .7em #e30,
        0 0 .8em #e30;
}

.top-bar-section ul {
    list-style-type: none;
}
.top-bar-section li {
    float: left;
    margin: 0 0.3em;
}

a {
    color: #2c83b6;
}

.top-bar{
    background-color: #fff;
}
